* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: monospace;
}

.name {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.3rem;
}
.name:hover {
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.nav {
    font-size: 1.2rem;
    min-height: 8vh;
    color: white;
    justify-content: space-around;
    align-items: center;
    display: flex;
    padding: 1.5rem 0;
    position: fixed;
    top: 0px;
    width: 100%;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: 30%;
}
.nav-links li {
    list-style: none;
}

.nav-links li:hover {
    color: rgb(253, 120, 142);
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    text-shadow: 4px 1px 14px rgb(253, 120, 142);
}

.nav-transparent {
    background-color: transparent;
    transition: all 0.4s ease-in;
}
.nav-colored {
    background-color: black;
    transition: all 0.4s ease-in;
}

.main-container {
    /* margin: 0 2rem 0 2rem; */
    height: 600vh;
    background-color: azure;
    background-image: url(../images/tobias-reich-9BKSdvsRSuA-unsplash.jpg);
    object-fit: fill;
    width: 100%;
}

.aboutme-container {
    margin: 2rem 0;
    height: 10vh;
    background-color: black;
}

.aboutme-container h3 {
    font-size: 1.5rem;
    font-weight: 300;
    color: white;
    display: flex;
    flex: 1;
    justify-content: center;
}

.aboutme-icons {
    color: white;
}